.user_block {
  display: flex;
  justify-content: center;
}

.description {
  width: 40%;
  height: 200px;
}

.cur {
  font-size: 10vw;
}

.button {
  width: 10%;
  height: 40px;
  margin: 5%;
  background-color: #d6d4a0;
  color: black;
}

.list {
  list-style-type: none;
}